
.table_header
{
	text-align: center;
	min-width:100px;
	vertical-align: middle;
}

.table_reserved_
{
	background-color: #E67D7D;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
	color: black;
    font-size: 14px;
}

.table_free_
{
	background-color: #6AB7E4;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
	font-size: 14px;
}
