.span_room_type_mobile{
    border: 1px solid #8dbac7;
    border-radius: 10px;
    padding: 3px;
    color: #7674b9;
    font-size: 11px;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
     background-color: #7b6e6e1f;

}